<?xml version="1.0" encoding="utf-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ raddit_app_site_name() }}</title>
  <subtitle>{{ 'title.submissions_in_featured_forums'|trans }}</subtitle>
  <updated>{{ 'now'|date('c') }}</updated>

  {% with { route: app.request.attributes.get('_route'), params: app.request.attributes.get('_route_params') } %}
    <id>{{ url(route, params) }}</id>

    <link rel="self" href="{{ url(route, params) }}" />
    {% if submissions.hasNextPage %}
      <link rel="next" href="{{ url(route, params|merge({page: submissions.nextPage})) }}"/>
    {% endif %}
    {% if submissions.hasPreviousPage %}
      <link rel="previous" href="{{ url(route, params|merge({page: submissions.nextPage})) }}"/>
    {% endif %}
  {% endwith %}

  {% for submission in submissions %}
    {% set uri = url('raddit_app_comments', {forum_name: submission.forum.name, submission_id: submission.id}) %}
    <entry>
      <id>{{ uri }}</id>
      <link href="{{ uri }}" />
      <title>{{ submission.title }}</title>
      <published>{{ submission.timestamp|date('c') }}</published>
      <updated>{{ (submission.editedAt ?? submission.timestamp)|date('c') }}</updated>
      <author>
        <name>{{ submission.user.username }}</name>
        <uri>{{ url('raddit_app_user', {username: submission.user.username}) }}</uri>
      </author>
      <category term="{{ submission.forum.name }}" label="{{ submission.forum.title }}" scheme="{{ app.request.getUriForPath('/f/') }}"/>
      <content type="html">
        {%- if submission.body is not null -%}
          <![CDATA[{{ submission.body|cached_markdown|raw }}]]>
        {%- endif -%}
      </content>
    </entry>
  {% endfor %}
</feed>
