{# we build the page from scratch since no links inherited from the base
   template will actually work while we wait for the authentication code #}
{% from _self import censor_email %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ raddit_app_site_name() }}</title>
    <style>
      body {
        font-family: helvetica neue, helvetica, arial, sans-serif;
        font-size: 13px;
        margin: 0;
        padding: 1rem;
      }

      h1 { margin-top: 0; margin-bottom: 1rem; }

      .error { color: #f00; }
    </style>
  </head>

  <body>
    <h1>{{ raddit_app_site_name() }}</h1>

    <p>{{ 'two_factor.explanation'|trans({'%email%': '<strong>%s</strong>'|format(censor_email(app.user.email)|escape)})|raw }}</p>

    {# seized from @SchebTwoFactor/Authentication/form.html.twig #}
    <form class="form" action="" method="post">
      {% for flashMessage in app.session.flashbag.get("two_factor") %}
        <p class="error">{{ flashMessage|trans }}</p>
      {% endfor %}

      <p>
        <label for="_auth_code">{{ "scheb_two_factor.auth_code"|trans }}</label>
        <input id="_auth_code" type="text" autocomplete="off" name="_auth_code">
      </p>

      {% if useTrustedOption %}
        <p class="widget"><label for="_trusted"><input id="_trusted" type="checkbox" name="_trusted"> {{ "scheb_two_factor.trusted"|trans }}</label></p>
      {% endif %}

      <p>
        <input type="submit" value="{{ "scheb_two_factor.login"|trans }}">
        <a href="{{ logout_url() }}">{{ "scheb_two_factor.cancel"|trans }}</a>
      </p>
    </form>
  </body>
</html>

{%- macro censor_email(email) -%}
  {%- if email matches '/^[^@\\s]+@\\S+\\.\\S+$/' -%}
    {%- set user = email|reverse|split('@', 2)[1]|reverse -%}
    {%- set domain = email|reverse|split('.', 2)[1]|split('@', 2)[0]|reverse -%}
    {%- set tld = email|reverse|split('.', 2)[0]|reverse -%}
    {{- user[0:1] }}{% for i in 2..user|length %}•{% endfor %}@{{ domain[0:1] }}{% for i in 2..domain|length %}•{% endfor %}.{{ tld -}}
  {%- else -%}
    {#- weird address -#}
    {{- email[0:1] }}{% for i in 2..email|length %}•{% endfor -%}
  {%- endif -%}
{%- endmacro -%}
