{% extends '@RadditApp/wiki.html.twig' %}

{% block title %}
  {{ 'title.showing_revision'|trans({
    '%revision%': revision.id|localizednumber,
    '%path%': '<a href="%s">%s</a>'|format(path('raddit_app_wiki', {path: page.path})|e, page.path|e),
  })|raw }}
{% endblock %}

{% block page_classes 'wiki-revision-page' %}

{% block body %}
  <h1>{{ block('title') }}</h1>
  <hr>

  <article>
    <h1>{{ revision.title }}</h1>

    {{ revision.body|cached_markdown|raw }}
  </article>
  <hr>

  <form class="form">
    <div class="form__row">
      <label class="form__label" for="revision-source">{{ 'label.source_code'|trans }}</label>
      <textarea rows="12" id="revision-source" readonly>{{ revision.body }}</textarea>
    </div>
  </form>
{% endblock %}
